<h1>restaurant <%= @restaurant.name %> </h1>
<p>address <%= @restaurant.address %> </p>
<p>category <%= @restaurant.category %> </p>
<p>phone number <%= @restaurant.phone_number %>  </p>
<p>category <%= @restaurant.category %> </p>
<p><% console %>
<%= link_to "back to restaurants", restaurants_path %>
